<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SODA APP</title>
</head>
<body>
    <h1>FIZZY SODA APP</h1>

    <form action="/sodas" method="POST">
        <input type="text" placeholder="brand" name="brand">
        <input type="text" placeholder="flavor" name="flavor">
        <button type="submit">Submit</button>
      </form>
      <h2> Sodas </h2>

      <ul class="sodas">
        <!-- Loop through sodas -->
        <% for(var i = 0; i < (sodas.length); i++) {%>
            <li class="quote">
              <!-- Output name from the iterated quote object -->
              <span><%= sodas[i].brand %></span>:
              <!-- Output quote from the iterated quote object -->
              <span><%= sodas[i].flavor %></span>
            </li>
          <% } %>
        </ul>
        <div>
            <h2>ADD THE SUPERIOR SODA</h2>
            <p>
           ADD THE BEST SODA
            </p>
            <button id="update-button">ADD BEST SODA </button>
        </div>
        <div>
            <h2>Remove THE SUPERIOR SODA</h2>
            <p>
              Delete one soda
            </p>
            <button id="delete-button">Delete best SODA </button>
          </div>
        <script src = "/main.js"></script>
</body>
</html>